---
import { Image } from "astro:assets";
import docenciaTitle from "../assets/resources/titles/docencia.svg";
import clase from "../assets/resources/teaching/lluis-salles-docencia.jpg";
import carteles from "../assets/resources/teaching/lluis-salles-jurat-cartells-festa-major.jpg";
import creatusdominus from "../assets/resources/teaching/creatus-dominus-2016-2-lluis-salles.jpg";
import logoElisava from "../assets/resources/logos/elisava.svg";
import logoUAB from "../assets/resources/logos/uab.svg";
import logoIDEC from "../assets/resources/logos/idec.svg";
import logoEAD from "../assets/resources/logos/ead.svg";
import logoIED from "../assets/resources/logos/ied.svg";
import logoEsart from "../assets/resources/logos/esart.svg";
import logoAitex from "../assets/resources/logos/aitex.svg";
import Page from "../layouts/Page.astro";

const pageTitle = "Experiencia docente de Lluís Sallés - Profesor Universitario";
const pageDescription =
  "Profesor en Elisava, UAB y otras instituciones académicas. Especializado en diseño, branding e identidad corporativa.";
const pageKeywords = "docencia universitaria, Elisava, UAB, diseño gráfico, branding, identidad corporativa";
---

<Page title={pageTitle} description={pageDescription} keywords={pageKeywords}>
  <div class="content">
    <h1>
      <Image src={docenciaTitle} alt="Docencia Lluís Sallés." class="page-title-svg" />
    </h1>
    <p>
      <i>Elisava UVic. Facultad de diseño e ingeniería de Barcelona</i>. Desde 1993 hasta julio de 2011 profesor de
      <strong>Proyectos, Identidad corporativa, señalética y otras asignaturas</strong>
      en la especialidad de Diseño Gráfico.:
    </p>

    <ul class="ornamental">
      <li><strong>Curso 2024/25</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Profesor en el Grado en diseño</strong>: Fonaments del Disseny Gràfic; Design management; Identidad
          Personal; New trends; Comunicación II. Fotografía de Producto y Dirección de Arte; Proyecto II; Tutor de
          proyectos de fin de Grado en diseño y Tribunal de TFG; Prácticas externas.
        </li>
        <li>
          <strong
            >Profesor en el Máster Universitario en Estudios Interdisciplinarios en Diseño y Comunicación (MUEIDC)</strong
          > y Tutor de Trabajos de Fin de Master.
        </li>
      </ul>
      <li><strong>Curso 2023/24</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Profesor en el Grado en diseño</strong>: Fonaments del Disseny Gràfic; Metodologías del diseño;
          Identidad Personal; Comunicación II. Fotografía de Producto y Dirección de Arte; Gestión del diseño; Difusión
          TFG; Tutor de proyectos de fin de Grado en diseño (Proyecto Adidas THUM, y proyecto personal) y Tribunal de
          TFG.
        </li>
        <li>
          <strong
            >Profesor en el Máster Universitario en Estudios Interdisciplinarios en Diseño y Comunicación (MUEIDC)</strong
          >
          y Tutor de Trabajos de Fin de Master.
        </li>
        <li>
          <strong>Coordinador</strong> de la asignatura Identidad Personal.
        </li>
        <li>
          <strong>Director</strong> del Máster Universitario en Estudios Interdisciplinarios en Diseño y Comunicación (MUEIDC).
        </li>
      </ul>
      <li><strong>Curso 2022/23</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Profesor en el Grado en diseño</strong> : Fonaments del Disseny Gràfic; Teorías Críticas I y II; Proyecto
          optativo mención II (Identidad y marca), Proyecto optativo mención III (Teoría de la identidad); Metodologías del
          diseño; Comunicación II. Fotografía de Producto y Dirección de Arte; Proyecto Global I; Gestión del diseño; Difusión
          TFG; Tutor de proyectos de fin de Grado en diseño (Proyecto Adidas THUM, y proyecto personal) y Tribunal de TFG.
        </li>
        <li>
          <strong
            >Profesor en el Máster Universitario en Estudios Interdisciplinarios en Diseño y Comunicación (MUEIDC)</strong
          >
          y Tutor de Trabajos de Fin de Master.
        </li>
      </ul>
      <li><strong>Curso 2021/22</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Profesor en el Grado en diseño</strong>: Fonaments del Disseny Gràfic; Teorías Críticas I y II;
          Proyecto optativo mención II (Identidad y marca), Proyecto optativo mención III (Teoría de la identidad);
          Metodologías del diseño; Proyecto Global I y II; Difusión TFG; Tutor de proyectos de fin de Grado en diseño
          (Proyecto Adidas THUM, y proyecto personal) y Tribunal de TFG.
        </li>
      </ul>
      <li><strong>Curso 2020/21</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Profesor en el Grado en diseño</strong>: Principios básicos del diseño I y III; Teorías Críticas I y
          II; Proyecto optativo mención II (Identidad y marca), Proyecto optativo mención III (Teoría de la identidad);
          Diseño Contemporaneo; Nuevas Tendencias; Proyecto transversal; Tutor de proyectos de fin de Grado en diseño
          (Proyecto Adidas, THUM y proyecto personal) y Tribunal de TFG.
        </li>
      </ul>
      <li><strong>Curso 2019/20</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Profesor de Principios básicos del diseño</strong> en el Grado en diseño y Tutor de proyectos de fin de
          Grado en diseño (Proyecto Adidas, THUM), Tribunal de TFG.
        </li>
      </ul>
      <li><strong>Curso 2018/19</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Profesor de proyectos en el Grado en diseño</strong> y Tutor de proyectos de fin de Grado en diseño, Tribunal
          de TFG.
        </li>
      </ul>
      <li><strong>Curso 2017/18</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Tutor de proyectos de fin de Grado en diseño</strong> y clase magistral dentro del Grado en diseño, Tribunal
          de TFG.
        </li>
      </ul>
      <li><strong>Curso 2016/17</strong></li>
      <ul class="basic indent spacing">
        <li>
          <strong>Profesor de proyectos en el Grado en diseño</strong> y Tribunal de TFG.
        </li>
      </ul>
    </ul>

    <Image src={clase} alt="Elisava - Lluís Sallés" class="teaching-image" />

    <span class="caption"
      >Elisava, Proyecto Transversal, <i>Why Museum?</i> Junio de 2021. Profesores: Jordi Farreras, Arnau Gifreu y Lluís
      Sallés. Fotos: Jordi Farreras ©.</span
    >

    <p>
      <i>UAB</i>. Profesor en el módulo de Estudios culturales, dirigido por el Dr. Antonio Penedo-Picos dentro del
      <strong>Máster en Literatura Comparada y Estudios culturales</strong> de la Universitat Autònoma de Barcelona. Tribunal
      en los TFM:
    </p>
    <ul class="ornamental">
      <li><strong>Curso 2022/23</strong></li>
      <ul class="basic indent spacing">
        <li>
          <i>J-Hope el heredero de la esperanza de Pandora y de Jack in the Box</i>, de Ana Gómez Guerrero (Dir. Dr.
          Antonio Penedo-Picos).
        </li>
        <li>
          <i>La intertextualidad en la reescritura transmedial: el caso de Drive My Car</i>, de Xiangyu Jiang, (Dir. Dr.
          Antonio Penedo-Picos).
        </li>
      </ul>
    </ul>

    <ul class="ornamental">
      <li><strong>Curso 2021/22</strong></li>
      <ul class="basic indent spacing">
        <li>
          <i>Posthuman Cyborg Tale: La nueva definición de humanidad. Matrimonio y Utopía en Idoru</i>
          de William Gibson, de Li Hongsi (Dir. Dr. Antonio Penedo-Picos).
        </li>
        <li>
          <i>Cultura placebo: estragos de una sociedad anestesiada</i>, de Borja Pardo Alós (Dir. Dr. Antonio
          Penedo-Picos).
        </li>
      </ul>
    </ul>

    <p>
      <i>EAD</i>. Jefe de Estudios y profesor en los ámbitos de Gráfica e Ilustración: en la Escuela de arte y diseño de
      Sant Cugat del Vallés, desde 2007 hasta enero de 2021. Del 2007 hasta el 2010 como profesor colaborador y desde el
      2010 hasta 2015 como profesor relevista. He ocupado el cargo de Jefe de estudios durante el periodo 2010-2017.
      Desde 2017 hasta enero de 2021 profesor interino.
    </p>
    <ul class="basic">
      <li>
        <strong>Gráfica Impresa</strong>: Branding y naming (teórico-práctica), Identidad corporativa, Señalética,
        Introducción al marketing (teórica), Book (portfolio), y Conceptos clave del mercado actual (Historia/teórica),
        Teoría de la imagen y Tutor de proyecto Integrado.
      </li>
      <li>
        <strong>Gráfica Interactiva</strong>: Branding y naming (teórico-práctica), Identidad corporativa, Book
        (portfolio), y Conceptos clave del mercado actual (Historia/teórica), Teoría de la imagen y Tutor de proyecto
        Integrado.
      </li>
      <li>
        <strong>Ilustración</strong>: Conceptos clave del mercado actual (Historia/teórica), Teoría de la imagen y tutor
        de Proyecto Integrado.
      </li>
      <li>
        <strong>Animación</strong>: Conceptos clave del mercado actual (Historia/teórica), Teoría de la imagen y tutor
        de Proyecto Integrado.
      </li>
      <li>
        <strong>Arte final y Asistente al producto gráfico impreso</strong>: Metodología del diseño gráfico, Projecte de
        disseny gràfic imprès i Web, Disseny gràfic. Àmbits i tipologies. Indústria (Iniciació).
      </li>
    </ul>

    <Image src={carteles} alt="Jurado carteles Festa Major" class="teaching-image" />

    <span class="caption"
      >Participación como jurado en el concurso de diseño de carteles de la Festa Major de Sant Cugat del Vallès.</span
    >

    <p><i>LCI Barcelona</i> Felicidad Duce:</p>
    <ul class="ornamental">
      <li>
        <strong>Curso 2022/23. Profesor en el Máster en Branding y Estrategia de marca (Morillas)</strong>
        en la asignatura de Experiencia de marca y diseño.
      </li>
      <li>
        <strong>Curso 2021/22. Profesor en el Máster en Branding y Estrategia de marca (Morillas)</strong>
        en la asignatura de Gestión y aplicación del diseño.
      </li>
      <li>
        <strong>Curso 2016/17. Profesor</strong> en el Grado en diseño de moda, el Master en Gestión y dirección de empresas
        de moda, el Postgrado en Organización de eventos de moda y el Postgrado en Diseño y construcción de bolsos y pequeña
        marroquinería
      </li>
    </ul>

    <br />
    <p>
      <a href="http://www.creatusdominus.com/" title="Creatus Dominus" target="_blank"><i>Creatus Dominus</i></a>,
      festival de diseño. Co-director (2014/16)
    </p>

    <Image src={creatusdominus} alt="Creatus Dominus 2016" class="teaching-image" />

    <span class="caption">Cartelería de la edición de 2016 de <i>Creatus Dominus</i>.</span>

    <p><strong>También he impartido clases en:</strong></p>
    <ul class="ornamental">
      <li>IED. Istituto Europeo di Design 2006-2007, en el Master en Comunicación y periodismo de Moda.</li>
      <li>IDEC. UPF, en el Postgrau en Gestió d'empreses de Moda.</li>
      <li>En el Postgrado en Diseño y Moda: Colección y Contexto. Elisava.</li>
      <li>
        Profesor de Branding y Naming en el Master en Moda, Gestión del diseño y operaciones. Master empresarial. Aitex
        (Instituto tecnológico Textil) Valencia.
      </li>
      <li>Investigación de tendencias visuales. Elisava. Profesor conjuntamente con Gema Requena.</li>
    </ul>

    <div class="logo-grid">
      <Image src={logoElisava} alt="Elisava" />
      <Image src={logoUAB} alt="Universitat Autònoma de Barcelona" />
      <Image src={logoIDEC} alt="Universitat Pompeu Fabra" />
      <Image src={logoEAD} alt="Escola d'Art i Disseny de Sant Cugat" />
      <Image src={logoIED} alt="Istituto Europeu di Design" />
      <Image src={logoEsart} alt="ESART" />
      <Image src={logoAitex} alt="Aitex" />
    </div>
  </div>
</Page>

<style>
  @media (max-width: 768px) {
    ul.basic li {
      margin: 0;
    }
  }

  .indent {
    margin: 0 0 0 var(--p-text-sm-margin);
  }

  ul.spacing {
    padding-bottom: var(--p-text-small-margin);
  }

  img.teaching-image {
    margin: var(--p-text-medium-margin) 0 0 0;
  }

  @media (max-width: 768px) {
    img.teaching-image {
      max-width: 804px;
      width: 100%;
      height: auto;
    }
  }

  span.caption {
    display: block;
    margin-bottom: var(--p-text-xmedium-margin);
    color: var(--text-secondary);
    font-size: var(--font-size-nav-1);
  }

  .logo-grid {
    margin: var(--section-content-medium-padding) 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--section-lateral-padding) 0;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . .";
    align-items: center;
    justify-items: flex-end;
  }

  @media (max-width: 768px) {
    .logo-grid {
      text-align: left;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: var(--section-content-medium-padding);
      grid-template-areas:
        ". ."
        ". ."
        ". ."
        ". .";
    }
    .logo-grid img {
      width: 100%;
      height: auto;
    }
  }
</style>
