---
import Page from "../layouts/Page.astro";
import { Image } from "astro:assets";
import publicacionesTitle from "../assets/resources/titles/publicaciones.svg";
import articulosTitle from "../assets/resources/titles/articulos.svg";
import andreRicard from "../assets/resources/publications/andrericard-objetto.jpg";
import monAhir from "../assets/resources/publications/mondahir.jpg";
import alteridadLupina from "../assets/resources/publications/lluna-alteritat.jpg";
import programaCinematografico from "../assets/resources/publications/diseno-programas-mano-cinematograficos-1939-1960.jpg";
import nawi7 from "../assets/resources/publications/nawi-7.jpg";
import paisatgesUtopia from "../assets/resources/publications/paisatges-de-la-utopia.jpg";
import tesiDoctoral from "../assets/resources/publications/tesi-doctoral-lluis-salles.jpg";
import tesiDoctoral from "../assets/resources/publications/tesi-doctoral-lluis-salles.jpg";
import elogioLibertad from "../assets/resources/publications/elogio-de-la-libertad.jpg";
import CAE from "../assets/resources/publications/condenados-a-entenderse.jpg";
---

<Page>
  <div class="content">
    <h1>
      <Image src={publicacionesTitle} alt="Publicaciones Lluís Sallés." class="page-title-svg" />
    </h1>

    <div class="publications-grid">
      <div class="publication-img">
        <Image src={andreRicard} alt="Papel en blanco nº1: André Ricard" />
      </div>

      <div class="text">
        <p>
          <strong>Papel en blanco nº1: André Ricard</strong> (2023), PalauGea, Valencia.
        </p>
        <p>
          Todo proyecto nuevo es un desafío. Visto desde los ojos de los profanos, la explicación sobre aquello que se
          debe arreglar, mejorar, proyectar o crear desde cero, es una puerta que nos abre múltiples posibilidades y
          crea abundantes expectativas, aunque para la mayoría de diseñadores es un reto mayúsculo. El verbo solventar
          lo define a la perfección: «dar solución a un asunto difícil». El papel en blanco tensiona nuestra mente,
          lleva al límite nuestras capacidades y nos cuestiona como creadores y profesionales. Todo encargo debería
          empezar con un <i>brief</i>, una guía que nos permitiera iniciar el camino que nos llevará a la solución, pero
          no siempre es así, incluso en el diseño de producto es habitual empezar sin él.
        </p>
        <p>
          A lo largo de las próximas líneas nos sumergiremos, desde la intimidad de la entrevista, en el proceso
          creativo de los padres del diseño español: André Ricard. Con él inauguramos esta colección sobre la
          incertidumbre y el respeto al papel en blanco. Pero antes Curro Claret se pondrá en la piel de nuestro
          invitado, y en un ejercicio de metarrealidad se imaginará cómo afronta los encargos André Ricard. Es un
          simulacro, un homenaje desde el respeto y la admiración.
        </p>

        <p>
          <a
            href="https://graffica.info/tienda/papel-en-blanco-n1/"
            alt="Papel en blanco nº1: André Ricard"
            target="_blank"
            nofollow>Más detalles en la web</a
          >.
        </p>
      </div>

      <div class="publication-img">
        <Image src={monAhir} alt="Mon d'Ahir. Optimus Symbolus ex mundo" />
      </div>

      <div class="text">
        <p>
          «<strong>Optimus symbolus ex mundo</strong>» en El Món d’ahir (2023), 28, edición de Minoria Absoluta i
          Abacus, Barcelona, pp. 100-107.
        </p>
        <p>
          <a
            href="https://elmondahir.cat/articles/jesucrist-es-el-protagonista-al-numero-28/"
            alt="El Món d'Ahir, número 28"
            target="_blank"
            nofollow>Más detalles en la web</a
          >.
        </p>
      </div>

      <div class="publication-img">
        <Image src={alteridadLupina} alt="Alteridad lupina. Licántropos y otros monstruos" />
      </div>

      <div class="text">
        <p>
          «<strong>Alteridad lupina. Licántropos y otros monstruos</strong>», en L’altra cara de la lluna: lluna i
          alteritat (2023), capítulo de libro, editorial Anem, Andorra. Editoras: María Alcántara, Sira Bartra, Dana
          García, Helena García, Clàudia Munné y Cassandra Santaulària.
        </p>
        <p>En colaboración con la Universitat Autònoma de Barcelona.</p>
      </div>

      <div class="publication-img">
        <Image src={programaCinematografico} alt="Diseño de programas de mano cinematográficos (1963-1960)" />
      </div>

      <div class="text">
        <p>
          «<strong>El diseño de los programas de mano cinematográficos (1939 - 1960)</strong>» (2023), en Grafica, 22,
          pp. 219-228.
        </p>
        <p>
          DOI:
          <a href="https://doi.org/10.5565/rev/grafica.258" target="_blank" alt="Grafica Vol. 11"
            >https://doi.org/10.5565/rev/grafica.258</a
          >.
        </p>
      </div>

      <div class="publication-img">
        <Image src={nawi7} alt="Ñawi 7" />
      </div>

      <div class="text">
        <p>
          «<strong
            >La importancia del relato en la creación de identidades en el mundo del diseño y la publicidad</strong
          >» (2023), en Ñawi 7 (2), pp. 195–209.
        </p>
        <p>
          DOI:
          <a href="https://doi.org/10.37785/nw.v7n2.a11" target="_blank" alt="Ñawi 7"
            >https://doi.org/10.37785/nw.v7n2.a11</a
          >.
        </p>
      </div>

      <div class="publication-img">
        <Image src={paisatgesUtopia} alt="Paisatges de la utopia" />
      </div>

      <div class="text">
        <p>
          «<strong>Identidades en tránsito. Utopías y distopías neoliberales</strong>», en Paisatges de la utopia
          (2021), capítulo de libro, editorial Anem, Andorra. Editor, Joan Carles Cirera.
        </p>
        <p>En colaboración con la Universitat Autònoma de Barcelona.</p>
      </div>

      <div class="publication-img">
        <Image src={tesiDoctoral} alt="Tesi Doctoral Lluís Sallés" />
      </div>

      <div class="text">
        <p>
          <strong>La identidad π. Identidades en el laboratorio</strong> (2020), Tesis Doctoral. Facultad de Filosofía y
          Letras. Departamento de Filología Española. Doctorado en Teoría de la Literatura y Literatura Comparada. Universidad
          Autónoma de Barcelona. Tesis dirigida por el Dr. Antonio Penedo-Picos.
        </p>
        <p>
          <a
            href="https://www.tdx.cat/handle/10803/670807#page=1"
            alt="Tesi Doctoral Lluís Sallés"
            target="_blank"
            nofollow>Consulta la tesis</a
          >.
        </p>
      </div>

      <div class="publication-img">
        <Image src={elogioLibertad} alt="Elogio de la libertad" />
      </div>

      <div class="text">
        <p>
          <strong>Elogio de la libertad. Escritos sobre diseño, arte, arquitectura y sociedad</strong>
          (2019), Hoaki Books, Barcelona.
        </p>
        <p>
          Este libro es una reflexión —a través de un conjunto de escritos independientes que forman un todo— sobre la
          libertad en la creación, donde esta está necesariamente sujeta a unos condicionamientos previos y externos
          (cliente, encargo, materiales, presupuesto) El autor, Albert Romagosa, plantea un terreno de juego donde
          invita a personajes de la talla de María Langarita (arquitectura), Bendita Gloria (diseño gráfico) o Guillermo
          Santomà (art design), a pensar sobre este concepto tan complejo.
        </p>
        <p>
          Todos los textos que aparecen en este libro inéditos y escritos ad hoc. Ilustraciones del pintor Albert
          Puigcercós acompañan la pieza de principio a fin. El libro cuenta con un prólogo de Lluís Sallés, ensayos de
          María Langarita. Bendita Gloria y Carlos García, una conversación –moderada por Gemma Cuadrado Guillermo
          Santomà y Adolfo Abejón y un relato de ficción de Ane Guerra.
        </p>
      </div>

      <div class="publication-img">
        <Image src={CAE} alt="Condenados a entenderse" />
      </div>

      <div class="text">
        <p>
          <strong>Condenados a entenderse. El proyecto es la razón de nuestra existencia</strong>. Diciembre
          2011/diciembre 2017. Publicación online.
        </p>
        <p>
          La relación entre creatividad y empresa. Libro presentado en la Facultad de ciencias de la comunicación de la
          Universidad Autónoma de Bellaterra invitado por Santiago Tejedor, Vicedegà de Docència, Professorat i
          Estudiants.
        </p>
        <p>
          <a
            href="./public/condenadosaentenderse-lluissalles.pdf"
            alt="Descargar Condenados a entenderse"
            target="_blank"
            nofollow>Descárgalo gratis</a
          >
          (PDF - 2,9MB).
        </p>
      </div>
    </div>
    <Image src={articulosTitle} alt="Artículos Lluís Sallés." class="page-title-svg" />
    <p>
      <strong>El Branding es mucho más que una simple marca</strong>.<br />
      Revista La rueda Creativa.
      <a
        href="https://issuu.com/laruedacreativa/docs/lrc_1_nacimiento/14"
        alt="Branding I. La Rueda Creativa"
        target="_blank"
        nofollow>nº02</a
      >
      y
      <a
        href="https://issuu.com/laruedacreativa/docs/lrc_2/6"
        alt="Branding II. La Rueda Creativa"
        target="_blank"
        nofollow>03</a
      >. Publicación Online (2011).
    </p>

    <p>
      <strong>Lluís Sallés, el hombre cerilla. Entrevista</strong>.<br />
      Revista La rueda Creativa.
      <a
        href="https://issuu.com/laruedacreativa/docs/lrc_2/28"
        alt="Entrevista Lluís Sallés. La Rueda Creativa"
        target="_blank"
        nofollow>nº 03</a
      >. Publicación Online (2011).
    </p>

    <p>
      <strong>Sopa, emoción y branding. Breve introducción al Branding</strong>.<br />
      Revista On. Suplemento nº02 (Abril 2010).
    </p>

    <p>
      <strong>London calling! Análisis marca juegos Olímpicos London 2012</strong>.<br />
      Fadzine Express. Publicación Online de ADGFAD (Noviembre 2009).
    </p>
  </div>
</Page>

<style>
  div.publications-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--p-text-large-margin) 0;
    margin: 0 0 var(--p-text-large-margin) 0;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". ."
      ". ."
      ". .";
  }

  @media (max-width: 768px) {
    div.publications-grid {
      gap: var(--section-content-small-padding) 0;
      grid-template-rows: 1fr;
      margin: 0 0 var(--section-lateral-padding) 0;
      grid-template-areas: ".";
    }
  }

  div.text {
    margin: 0 0 var(--p-text-large-margin) 0;
  }

  div.publication-img img {
    height: 300px;
    width: auto;
  }

  @media (max-width: 768px) {
    div.publication-img img {
      height: 175px;
    }
  }

  @media all and (-ms-high-contrast: none) {
    div.publications-grid {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr;
    }
  }
</style>
