---
import Page from "../layouts/Page.astro";
import { Image } from "astro:assets";
import quieneselTitle from "../assets/resources/titles/quien-es-el.svg";
import divider from "../assets/resources/ui/divider.svg";

const pageTitle = "Biografía de Lluís Sallés - Trayectoria profesional y académica";
const pageDescription =
  "Trayectoria profesional y académica de Lluís Sallés: docente, investigador, brand manager y teórico del diseño. Profesor Universitario en Elisava UVic.";
const pageKeywords =
  "Lluís Sallés biografía, brand manager, copy creativo, docente universitario, investigador, Elisava";
---

<Page title={pageTitle} description={pageDescription} keywords={pageKeywords}>
  <div class="content">
    <h1>
      <Image src={quieneselTitle} alt="Quien es Lluís Sallés" class="page-title-svg" />
    </h1>
    <p>
      Dr. Lluís Sallés Diego (<a href="https://orcid.org/0000-0002-8173-5572" target="_blank" alt="ORCID Lluís Sallés"
        >ORCID</a
      >).
    </p>
    <p>
      Ex-casi todo. Padre, escritor, investigador, teórico, copy creativo, namer, docente, diseñador gráfico, Brand
      manager y conferenciante. Una vez tuvo un restaurante con unos amigos y de joven trabajó en todo lo que le
      ofrecieron. Como consultor en identidad, imagen y estrategia de marca, ha desarrollado su trabajo en compañías
      nacionales e internacionales. Socio fundador de Boixader et Salles, y Bómb estrategas.
    </p>
    <p>
      Co-creador y co-director del Festival Creatus Dominus. Diseñador por la Escuela Massana de Barcelona, Graduado en
      Humanidades, Master en Literatura comparada y Estudios culturales, y Doctor en Teoría de la Literatura y
      Literatura comparada por la UAB. Ha impartido clases en distintas escuelas y universidades.
    </p>
    <p>
      En este momento es profesor lector en <i
        ><a href="https://www.elisava.net/" alt="Elisava" target="_blank"
          >Elisava UVic. Facultad de diseño e ingeniería de Barcelona</a
        ></i
      >, donde imparte clases en el Grado en diseño e Innovación y en el Máster Universitario en Estudios
      Interdisciplinarios en Diseño y Comunicación. Durante el curso 23-24 fue director del Máster Universitario en
      Estudios Interdisciplinarios en Diseño y Comunicación (MUEIDC) también en Elisava.
    </p>
    <p>Su ámbito de investigación se centra en la construcción de la identidad.</p>
    <strong>Actualmente</strong>
    <ul class="ornamental">
      <li>Profesor lector en Elisava UVic. Facultad de diseño e ingeniería de Barcelona.</li>
      <li>Escritor y editor.</li>
      <li>Especialista en branding, investigador y teórico.</li>
    </ul>

    <Image src={divider} alt="" class="divider" />

    <p>
      Mi existencia digital es posible gracias al apoyo, la insistencia y el trabajo siempre brillante de
      <a href="https://www.cbusquets.com" target="_blank" alt="Cris Busquets">Cris Busquets</a>. Una marciana sin
      parangón, sin la cual mi avatar algorítmico sería una quimera. ¡Gracias Cris!
    </p>
  </div>
</Page>

<style>
  .indent {
    margin: 0 0 0 var(--p-text-sm-margin);
  }
  img.divider {
    margin: var(--section-content-padding) 0 var(--p-text-xmedium-margin) 0;
  }
</style>
