---
import { Image } from "astro:assets";
import tous01 from "../assets/resources/portfolio/00_tous_concept-book.jpg";
import tous02 from "../assets/resources/portfolio/01_tous_concept-book.jpg";
import calvinklein from "../assets/resources/portfolio/02_calvin-klein_btl.jpg";
import brunes from "../assets/resources/portfolio/03_brunes_identidad.jpg";
import baylina from "../assets/resources/portfolio/04_baylina_packaging.jpg";
import laburgueseria from "../assets/resources/portfolio/05_la-burgueseria_identidad.jpg";
import converse from "../assets/resources/portfolio/06_converse_concept-book.jpg";
import gratacos from "../assets/resources/portfolio/07_gratacos_reposicionamiento-marca.jpg";
import barcelona from "../assets/resources/portfolio/08_080-barcelona_identidad.jpg";
import showroom from "../assets/resources/portfolio/09_showroom-barcelona_imagen-grafica.jpg";
import lluisgenero from "../assets/resources/portfolio/10_lluis-genero_identidad.jpg";
import lluisgenerocatalogos from "../assets/resources/portfolio/11_lluis-genero_catalogos.jpg";
import panamajack from "../assets/resources/portfolio/12_panama-jack_director-creativo.jpg";
import ardi from "../assets/resources/portfolio/13_ARDI_director-arte.jpg";
---

<div class="desktop-projects">
  <p>
    En <strong>BOMB. Estrategas de Marca</strong>, (socio fundador) como director del departamento de branding, desde
    2008 hasta el 2010:
  </p>
  <ul class="ornamental">
    <li>
      <strong>TOUS</strong>. Reposicionamiento de producto,
      <i>concept book</i> (joyería)
    </li>
    <li>
      <strong>Proceli Turull</strong>. <i>Naming</i>, asesoría de marca y
      <i>packaging</i> (alimentación funcional)
    </li>
    <li><strong>Scoop</strong>. Creación base de datos (cultura)</li>
    <li>
      <strong>Fira de Barcelona</strong> “the Brandery, post fashion circus”. Asesoría de marca y negocio (Feria Moda)
    </li>
    <li>
      <strong>Arsus</strong>. Asesoría de marca y producto (industria)
    </li>
    <li>
      <strong>Carmen Hijosa</strong>. Asesoría de negocio (textil ecológico)
    </li>
    <li>
      <strong>Lex Work</strong>. Identidad corporativa y web 2.0 (abogados)
    </li>
    <li>
      <strong>DDM y Proged, SA</strong>. Asesoría internacionalización negocio (textil y complementos)
    </li>
    <li>
      <strong>Simbyosi</strong>. Identidad corporativa (análisis de tendencias y mercados)
    </li>
  </ul>
  <Image src={tous01} alt="Concept book de Tous" class="design-image" />
  <Image src={tous02} alt="Concept book de Tous" class="design-image" />
  <p>Brand Manager freelance desde 2002 hasta el 2010. Clientes:</p>
  <ul class="ornamental">
    <li>
      <strong>Calvin Klein cosmetics</strong>. Acciones punto de venta,
      <i>below the line</i> (perfumería Grupo Coty)
    </li>
    <li>
      <strong>Comercial Valira</strong>. <i>Packaging</i> y naming producto (menaje hogar gran distribución)
    </li>
    <li>
      <strong>Pastisseria Baylina</strong>. Acciones comunicación cliente, ferias, <i>packaging</i> y <i>naming</i> producto
    </li>
    <li>
      <strong>Dos Besos</strong>. Identidad corporativa y
      <i>line sheets</i> (Kangro 1996)
    </li>
    <li>
      <strong>Casco surfaces</strong>. Acciones de comunicación (Industria Casco Decor, S.A.)
    </li>
    <li>
      <strong>Sinersys</strong>. Identidad corporativa (Sinergrup Head Hunters)
    </li>
    <li>
      <strong>Hidalgo & Hartmann</strong>. Identidad corporativa (arquitectura)
    </li>
    <li>
      <strong>La Burguesería</strong>. Identidad corporativa (restauración)
    </li>
  </ul>
  <Image src={calvinklein} alt="Calvin Klein" class="design-image" />
  <Image src={brunes} alt="Brunés Cansaladeria" class="design-image" />
  <Image src={baylina} alt="Baylina" class="design-image" />
  <Image src={laburgueseria} alt="La Burguesería" class="design-image" />
  <p>
    Brand Manager para <strong>Converse</strong> All Star.
    <i>Concept book</i> colección textil (Proged, S.A.) 2007.
  </p>
  <p>
    Brand Manager para <strong>Gratacós</strong> S.A. Reposicionamiento de la compañía. 2007-2008.
  </p>
  <p>
    Brand Manager para
    <strong>080 Barcelona. Fashion is everywhere</strong>. Ed. 00 Fashion week. Identidad Corporativa y comunicación.
    2007. Generalitat de Catalunya y Copca.
  </p>
  <p>
    <strong>Showroom Barcelona</strong>. Ed. 03 Space of Catalan Fashion. Paris. Imagen gráfica. Octubre 2007.
    Generalitat de Catalunya y Copca.
  </p>
  <Image src={converse} alt="Converse" class="design-image" />
  <Image src={gratacos} alt="Gratacós" class="design-image" />
  <Image src={barcelona} alt="080 Barcelona Fashion is everywhere" class="design-image" />
  <Image src={showroom} alt="Showroom Barcelona" class="design-image" />
  <p>
    Socio fundador y propietario de <strong>Boixader et Sallés</strong> S.L 1996-2002. Consultoría de branding e identidad
    corporativa afincada en Barcelona. Gerente y Director creativo. Selección de clientes:
  </p>
  <ul class="ornamental">
    <li>
      <strong>Sidi</strong>. Identidad corporativa, campaña medios
      <i>below the line</i>, ferias nacionales e internacionales y catálogos (mobiliario)
    </li>
    <li>
      <strong>Tombow</strong>. Campaña comunicación producto (material oficina, gama alta y baja)
    </li>
    <li>
      <strong>PoloandCo</strong>. Identidad corporativa, acciones punto de venta, comunicación cliente, <i>packaging</i>
      (moda)
    </li>
    <li><strong>Camila Brusi</strong>. Identidad corporativa (moda)</li>
    <li>
      <strong>the gomez</strong>. <i>Naming</i>, identidad corporativa, acciones punto de venta (moda <i>street wear</i
      >)
    </li>
    <li>
      <strong>Stock up</strong>. <i>Naming</i>, identidad corporativa, acciones punto de venta (moda <i>street wear</i>)
    </li>
    <li>
      <strong>Veste</strong>. <i>Naming</i>, identidad corporativa, acciones punto de venta (moda)
    </li>
    <li>
      <strong>Julie Sohn</strong>. <i>Naming</i>, identidad corporativa, acciones punto de venta (moda)
    </li>
    <li>
      <strong>Tafesa</strong>. Identidad corporativa, comunicación
      <i>below the line</i>, catálogos producto y web (mobiliario cocina)
    </li>
    <li>
      <strong>Icub</strong>. Pla per la cultura a Barcelona. <i>Naming</i>, identidad corporativa, comunicación y expo
      explicativa del plan (Institut de Cultura de Barcelona, institución pública)
    </li>
    <li>
      <strong>Salord Jover</strong>. Identidad corporativa, acciones punto de venta, ferias nacionales e internacionales
      y catálogos (calzado)
    </li>
    <li>
      <strong>C·Doux</strong>. Identidad corporativa, acciones punto de venta, ferias nacionales e internacionales y
      catálogos (calzado)
    </li>
    <li>
      <strong>Lluís Generó</strong>. Identidad corporativa, acciones punto de venta, ferias nacionales e
      internacionales, catálogos y campaña en medios (moda)
    </li>
    <li>
      <strong>Tascón</strong>. Acción punto de venta (calzado, Cazasa)
    </li>
    <li>
      <strong>Fundació Conservatori del Liceu</strong>. Identidad corporativa, rediseño de marca (institución cultural)
    </li>
    <li>
      <strong>Xavier Canal Pastisser</strong>. Identidad corporativa y
      <i>packaging</i>
    </li>
    <li>
      <strong>Ajuntament de Barcelona</strong>. Acciones comunicación de Centros cívicos
    </li>
    <li>
      <strong>Ajuntament de Cerdanyola</strong>. Acciones comunicación dept. Educación
    </li>
    <li>
      <strong>SEAT</strong>. Campaña comunicación interna división atención cliente. Diseño manuales de abordo SEAT
      Toledo (automoción)
    </li>
    <li>
      <strong>Comercial Valira</strong>. Identidad corporativa, rediseño de marca y <i>packaging</i> todo el producto (menaje
      hogar gran distribución)
    </li>
    <li><strong>Kangro 1998 S.L</strong>. Identidad corporativa (moda)</li>
    <li>
      <strong>Azko Nobel</strong>. Campaña comunicación producto (industria)
    </li>
    <li>
      <strong>Blanch Cristal</strong>. Catálogo producto (iluminación)
    </li>
    <li><strong>Novartis</strong>. <i>Packaging</i> (farmacéutica)</li>
    <li><strong>Lacer</strong>. <i>Packaging</i> (farmacéutica)</li>
    <li>
      <strong>Leyva S.A</strong>. Catálogos producto y comunicación punto de venta (moda complementos)
    </li>
    <li>
      <strong>Blupel</strong>. Catálogo producto (moda y complementos casa piel)
    </li>
    <li>
      <strong>Future</strong>. <i>Naming</i>, identidad corporativa, e interiorismo (restauración)
    </li>
    <li>
      <strong>Baylina</strong>. <i>Naming</i>, identidad corporativa, comunicación cliente, ferias, acción punto de
      venta y desarrollo producto (pastelería)
    </li>
    <li>
      <strong>Grisby</strong>. Catálogos producto y comunicación punto de venta (moda)
    </li>
    <li>
      <strong>Lookiluz</strong>. Identidad corporativa y catálogo producto (iluminación)
    </li>
    <li>
      <strong>Jordi Florensa interiors</strong>. Identidad corporativa (mobiliario)
    </li>
    <li>
      <strong>Cafés Saula</strong>. Arquitectura efímera ferias (alimentación)
    </li>
    <li>
      <strong>Sylvan Learning center</strong>. Identidad corporativa (Grupo Wall Street, centros educativos)
    </li>
    <li>
      <strong>IEP Iluminación</strong>. Catálogo producto (industria, iluminación urbana, Grupo Simón)
    </li>
    <li>
      <strong>Revista ON</strong>. Rediseño sección revista (editorial)
    </li>
    <li>
      <strong>Gomez Egea Internacional</strong>. Identidad corporativa y catalogo servicios (<i>head hunters</i>)
    </li>
    <li>
      <strong>Substance textile</strong>. <i>Naming</i> e identidad corporativa (fabricante textil)
    </li>
  </ul>
  <Image src={lluisgenero} alt="Lluís Generó" class="design-image" />
  <Image src={lluisgenerocatalogos} alt="Lluís Generó" class="design-image" />
  <p>
    Director Creativo de <strong>Panama Jack</strong> 1993-1996 (calzado). Dentro de la agencia esclava
    <strong>CMC, Corporate marketing consulting</strong>. Identidad corporativa, editorial, <i>packaging</i>, ferias
    internacionales, packaging y comunicación <i>below the line</i>. Trabajo premiado con el Principe de Asturias a la
    excelencia empresarial 1995, apartado Diseño.
  </p>
  <p>
    Director de Arte en la revista de Arquitectura y Diseño (grupo Zeta),
    <strong>ARDI</strong> 1989-1993 (editorial).
  </p>
  <p>
    Diseñador de interiores en <strong>Carre-Hülsta</strong> 1987-1989 (mobiliario/interiorismo).
  </p>
  <Image src={panamajack} alt="Panama Jack" class="design-image" />
  <Image src={ardi} alt="Revista ARDI" class="design-image" />
</div>

<style>
  .design-grid {
    display: flex;
  }

  .mobile-projects {
    flex: 1 1 100%;
  }

  .design-image {
    width: 100%;
    height: auto;
    margin: var(--space-md) 0;
  }
</style>
